<section class="container-fluid" style="margin-top: 50px;">
    <h1 class="text-start title">{{title}}</h1>
    <!-- Sección de productos -->
    <div class="text-center">
        <div class="row">
            @for (item of productsList; track $index) {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 product-dashboard">
                <img class="img-thumbnail" src="{{item.image}}" alt="{{item.description}}">
                <h6>{{item.title}}</h6>
                <h5><strong>$ {{item.price}}</strong></h5>
                <div class="mx-5">
                    <button (click)="gotoProductDetail(item)" class="btn btn-outline-success float-end"><i class="bi bi-search"></i></button>
                    <a  routerLinkActive="router-link-active"  class="btn btn-outline-success float-start"><i class="bi bi-plus-circle-fill"></i></a>
                </div>
            </div>
            }
            <div class="col-12 product-dashboard ">
                <button type="button" class="btn btn-success btn-lg">Mas productos</button>
            </div>
        </div>
    </div>
</section>
