<!-- Dashboard principal -->
<div class="dashboard">
<div>
    <h1>Landing page</h1>
    <h3>Descubre la belleza en cada detalle</h3>
</div>

<!-- Sección adicional entre imagen y ofertas -->
<div class="semi-curve">
    <div class="col-md-12 text-center">
    <h2>Descubre nuestras últimas colecciones</h2>
    <p>Explora nuestra gama exclusiva de joyería de alta calidad.</p>
    <a href="#" class="btn btn-success">Ver colecciones</a>
    </div>
</div>
</div>

<section class="container-fluid">
<h1 class="text-center title">Productos Destacados</h1>
<!-- Sección de productos -->
<div class="text-center">
    <div class="row">
        <div class="col-md-4 product-dashboard">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_J3HjtfQBppwZiVTL67MbVn7ddm7N_K25x84rLy-mWPSqGDHUZdOaBRgon7l84uWyuC4&usqp=CAU" alt="">
            <h2>Producto 1</h2>
            <p>Descripción del producto 1</p>
            <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-dashboard">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvru1rdiWABE-Uq7G2UQN3L95MsFN3HiSQxfpg19uAIWG-z04HgCZPnIUISBhTV8F4Vhw&usqp=CAU" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción del producto 2</p>
            <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-dashboard">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1IvlgjwJocDWy4-ftCHqlYFi2mOqDn0TJOQ&usqp=CAU" alt="Producto 3">
            <h2>Producto 3</h2>
            <p>Descripción del producto 3</p>
            <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-dashboard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqGE0w4abimk99ooPHHae519u9UX7djoyjeQ&usqp=CAU" alt="Producto 3">
        <h2>Producto 4</h2>
        <p>Descripción del producto 4</p>
        <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-outline-dashboard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgvDuRz5Vtjw48FA-g2ve6vnkrDV-RpnOhzg&usqp=CAU" alt="Producto 3">
        <h2>Producto 5</h2>
        <p>Descripción del producto 3</p>
        <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-dashboard">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoF2Mw8GwutWy5S7l9ANpOLei1Y_Z41a5pHw&usqp=CAU" alt="Producto 3">
        <h2>Producto 6</h2>
        <p>Descripción del producto 4</p>
        <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-12 product-dashboard text-center">
        <button type="button" class="btn btn-success btn-lg">Mas productos</button>
        </div>
    </div>
</div>
</section>

<section class="why_buy_with_us">
<h1 class="text-center title">¿Por qué comprar con nosotros?</h1>
<div class="row text-center" >
    <div class="col-md-3 col-xs-12">
    <i class="bi bi-cart-plus" style="font-size: 9rem;"></i>
    <h4>Online</h4>
    </div>
    <div class="col-md-3 col-xs-12">
    <i class="bi bi-shield-check" style="font-size: 9rem;"></i>
    <h4>Safely</h4>
    </div>
    <div class="col-md-3 col-xs-12">
    <i class="bi bi-truck" style="font-size: 9rem;"></i>
    <h4>Delivery</h4>
    </div>
    <div class="col-md-3 col-xs-12">
    <i class="bi bi-gift-fill" style="font-size: 9rem;"></i>
    <h4>Gif</h4>
    </div>
</div>
</section>

<section>
<div class="row">
    <div class="col-md-6 col-xs-12 text-center">
    <h1 class="title">Inspirados en la <strong>Cultura Misak</strong></h1>
    <hr>
    <p>Cada obra de arte <strong>Misak</strong> es más que un objeto decorativo, es un puente que conecta con la herencia ancestral, reflejando la pasión y dedicación de una comunidad que celebra su identidad</p>
    <p>
        Descubre la magia de la cultura Misak a través de nuestras artesanías, donde cada pieza cuenta una historia única y auténtica
    </p>
    <hr>
    <div class="">
        <button type="button" class="btn btn-success">Ver productos</button>
    </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <img class="img-fluid" alt="Cultura Misak" src="https://colombiaartesanal.com.co/wp-content/uploads/CAUCA_CECILIATOMBE%CC%81_06-11.png">
    </div>
    
</div>
</section>