
<nav class="header navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Joyería </a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Exclusivos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
    <div class="cart-info">
      <a href="#">Carrito <span class="badge bg-success">$0.00</span></a>
    </div>
  </div>
</nav>

<!-- Dashboard principal -->
<div class="dashboard">
  <div>
    <h1>Joyería Elegante</h1>
    <h3>Descubre la belleza en cada detalle</h3>
  </div>

  <!-- Sección adicional entre imagen y ofertas -->
  <div class="semi-curve">
    <div class="col-md-12 text-center">
      <h2>Descubre nuestras últimas colecciones</h2>
      <p>Explora nuestra gama exclusiva de joyería de alta calidad.</p>
      <a href="#" class="btn btn-success">Ver colecciones</a>
    </div>
  </div>
</div>

<section class="container-fluid">
  <h1 class="text-center title">Productos Destacados</h1>
  <!-- Sección de productos -->
  <div class="text-center">
    <div class="row">
        <div class="col-md-4 product-dashboard">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_J3HjtfQBppwZiVTL67MbVn7ddm7N_K25x84rLy-mWPSqGDHUZdOaBRgon7l84uWyuC4&usqp=CAU" alt="">
            <h2>Producto 1</h2>
            <p>Descripción del producto 1</p>
            <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-dashboard">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvru1rdiWABE-Uq7G2UQN3L95MsFN3HiSQxfpg19uAIWG-z04HgCZPnIUISBhTV8F4Vhw&usqp=CAU" alt="Producto 2">
            <h2>Producto 2</h2>
            <p>Descripción del producto 2</p>
            <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-dashboard">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1IvlgjwJocDWy4-ftCHqlYFi2mOqDn0TJOQ&usqp=CAU" alt="Producto 3">
            <h2>Producto 3</h2>
            <p>Descripción del producto 3</p>
            <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-dashboard">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqGE0w4abimk99ooPHHae519u9UX7djoyjeQ&usqp=CAU" alt="Producto 3">
          <h2>Producto 4</h2>
          <p>Descripción del producto 4</p>
          <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-outline-dashboard">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgvDuRz5Vtjw48FA-g2ve6vnkrDV-RpnOhzg&usqp=CAU" alt="Producto 3">
          <h2>Producto 5</h2>
          <p>Descripción del producto 3</p>
          <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-md-4 product-dashboard">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoF2Mw8GwutWy5S7l9ANpOLei1Y_Z41a5pHw&usqp=CAU" alt="Producto 3">
          <h2>Producto 6</h2>
          <p>Descripción del producto 4</p>
          <a href="#" class="btn btn-outline-success">Ver más</a>
        </div>
        <div class="col-12 product-dashboard text-center">
          <button type="button" class="btn btn-success btn-lg">Mas productos</button>
        </div>
    </div>
  </div>
</section>

<section class="oferst">
  <h1 class="text-center title">Colecciones de temporada</h1>
  <div class="row text-center" >
    <div class="col-3">
      <i class="bi bi-cart-plus" style="font-size: 9rem;"></i>
    </div>
    <div class="col-3">
      <i class="bi bi-shield-check" style="font-size: 9rem;"></i>
    </div>
    <div class="col-3">
      <i class="bi bi-truck" style="font-size: 9rem;"></i>
    </div>
    <div class="col-3">
      <i class="bi bi-gift-fill" style="font-size: 9rem;"></i>
    </div>
  </div>
</section>

<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 product-dashboard">
        <h3>Sección 1</h3>
        <p>Contenido de la sección 1</p>
      </div>
      <div class="col-md-4 product-dashboard">
        <h3>Sección 2</h3>
        <p>Contenido de la sección 2</p>
      </div>
      <div class="col-md-4 product-dashboard">
        <h3>Sección 3</h3>
        <p>Contenido de la sección 3</p>
      </div>
    </div>
  </div>
</footer>
<router-outlet />
