<footer class="footer text-center">
    <div class="container">
        <div class="row text-start">
            <div class="col-md-4 product-dashboard">
                <h3>Sección 1</h3>
                <p>Contenido de la sección 1</p>
            </div>
            <div class="col-md-4 product-dashboard">
                <h3>Sección 2</h3>
                <p>Contenido de la sección 2</p>
            </div>
            <div class="col-md-4 product-dashboard">
                <h3>Sección 3</h3>
                <p>Contenido de la sección 3</p>
            </div>
        </div>
    </div>
</footer>